@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2 {
  margin: 0;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400px;
}
a:active {
  color: lightcoral;
}

li{
  list-style: none;
}

.gray-box {
  background-color: gray;
  width: 64px;
  height: 64px;
}
